<div class="pointer-events-none fixed inset-0 -z-10 overflow-hidden" aria-hidden="true">
  <div class="absolute inset-0 bg-site-bg"></div>
  <div class="absolute inset-0 opacity-[0.055] [background-image:linear-gradient(hsl(var(--color-text))_1px,transparent_1px),linear-gradient(90deg,hsl(var(--color-text))_1px,transparent_1px)] [background-size:56px_56px]"></div>
  <div class="absolute inset-0 opacity-[0.075] [background-image:radial-gradient(hsl(var(--color-text))_0.55px,transparent_0.55px)] [background-size:8px_8px]"></div>
  <div class="absolute inset-0 bg-[linear-gradient(180deg,hsl(var(--color-bg))_0%,transparent_18%,transparent_72%,hsl(var(--color-bg))_100%)]"></div>
  <div class="absolute inset-x-0 top-0 h-40 bg-[linear-gradient(90deg,transparent,hsl(var(--color-accent)/0.10),hsl(var(--color-cyan)/0.08),transparent)]"></div>
</div>
